/*
  Author: Frank Juval Quinones
  URL: https://www.frankjuval.com
  Updated: June 2021
  Instagram: http://instagram.com/frankjuval
*/


/* 
  :::::::: NEW CSS
*/

.container {
  line-height: 1.7;
  font: 1em/1.5 "Playfair Display", sans-serif;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: 12px repeat(2, auto); */
  grid-auto-flow: column;
  grid-column-gap: 13px;
  grid-row-gap: 1.5em;
}

#colortop {
  /* grid-area: 1 / 1 / 2 / 4; */
  -webkit-animation: color-change-2x 3s linear infinite alternate both;
  animation: color-change-2x 3s linear infinite alternate both;
}

.name {
  /* grid-area: 2 / 1 / 3 / 2; */
}

.content01 {
  /* grid-area: 2 / 2 / 3 / 3; */
  padding: 0 1em 0;
}

.content02 {
  /* grid-area: 2 / 3 / 3 / 4; */
  padding: 0 1em 0;
}

.footer {
  /* grid-area: 3 / 1 / 4 / 4; */
}

@media only screen and (min-width: 668px) and (max-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 12px repeat(3, auto);
    grid-column-gap: 13px;
    grid-row-gap: 1.5em;
  }
  #colortop {
    grid-area: 1 / 1 / 2 / 3;
  }
  .name {
    grid-area: 2 / 1 / 3 / 3;
  }
  .content01 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .content02 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .footer {
    grid-area: 4 / 1 / 5 / 3;
  }
}


/* @media only screen and (max-width: 667px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12px repeat(4, auto);
    grid-column-gap: 13px;
    grid-row-gap: 1.5em;
  }
  #colortop {
    grid-area: 1 / 1 / 2 / 2;
  }
  .name {
    grid-area: 2 / 1 / 3 / 2;
  }
  .content01 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .content02 {
    grid-area: 4 / 1 / 5 / 2;
    margin-top: -1.5em;
  }
  .footer {
    grid-area: 5 / 1 / 6 / 2;
  }
} */


/*
  / / / / GLOBAL  
*/

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: gainsboro;
  color: #4c5c68;
  /* background: url(folio/images/frank-mckenna-eXHeq48Z-Q4-unsplash.jpg), radial-gradient(circle at center center, rgb(252, 252, 252), rgb(129, 129, 129)), no-repeat center center fixed;
  background-size: auto;
  background-blend-mode: screen; */
}


/*
  / / / / STYLES  
*/

hr {
  border: 0;
  border-top: 3px double #8c8c8c;
  margin: 2em 0;
}

.container {
  animation: fadein 3.3s;
}

h1 {
  color: #5a189a;
  font-size: 2.1em;
  font-weight: 900;
  animation: fadeback 1.7s;
  line-height: 1;
  margin: 0 0 0.7em 0.5em;
}

ul {
  text-align: left;
  padding: 0;
  margin: -1em 0 1em 0;
}

li {
  margin: 0.5em 0 0;
  display: inline-block;
  padding: 0 0 0 1em;
}

.container {
  opacity: 1;
  animation: fadeback 2.5s;
}

p,
article {
  /* padding: 0 1em 0; */
  margin: 0 0 1.4em;
}

footer {
  margin: 1em;
  height: 3em;
  animation: fadeback 2.5s;
}

footer p {
  font-size: 12px;
  color: #9a9a9a;
  text-align: left;
  padding: 0;
}


/*
  / / / / MEDIA QUERIES  
*/

@media only screen and (min-width: 667px) {
  h1 {
    font-size: 2.5em;
    animation: fadein 1.7s;
    line-height: 1;
    margin: 0 0 0.7em 0.4em;
  }
  ul {
    margin-bottom: 0.3em;
  }
  footer p {
    text-align: right;
  }
}

@media only screen and (max-width: 668px) {
  .container {
    animation: fadein 1.7s;
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    text-align: right;
    animation: fadein 1.7s;
    font-size: 3.5em;
    line-height: 1.3;
    margin: 0.2em 0 0.4em;
  }
  ul {
    text-align: right;
  }
  li {
    list-style: none;
    display: block;
  }
  .container {
    animation: fadein 1.7s;
  }
}


/* 
  / / / / LINK STYLES  
*/

.astyle01,
.uor,
.ush {
  text-decoration: none;
  background-color: #f4f3ee;
  color: #4c5c68;
  transition: all 0.4s ease 0s;
  padding: 0 0.4em 0;
}

.astyle01:hover {
  text-decoration: none;
  background-color: #d4b599;
  color: #322720;
  transition: all 0.6s ease 0s;
}

strong {
  color: #46494c;
}

.uor:hover,
.ush:hover {
  text-decoration: none;
  background-color: #0368d9;
  color: #fff;
  transition: all 0.6s ease 0s;
}

.astyle02 {
  text-decoration: none;
  color: #6a8532;
  border-bottom: 1px solid #6a8532;
}

.astyle02:hover {
  text-decoration: none;
  border-bottom: 2px solid #eb5e28;
  color: #eb5e28;
}


/* / / Buzz Link Styles */

.buzz {
  display: inline-block;
  position: relative;
  color: inherit;
  text-decoration: none;
  transition: all 250ms ease;
  transform: translatez(0);
  perspective: 50px;
}

.buzz:before,
.buzz:after {
  content: attr( data-buzz);
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  transition: all 150ms ease;
}

.buzz:before {
  color: #00d5ff;
  top: 2px;
  left: 2px;
}

.buzz:after {
  color: #ffaa00;
  bottom: 2px;
  right: 2px;
}

.buzz:hover:before {
  transform: rotatex(-15deg) rotatey(5deg) scale(1.25);
}

.buzz:hover:after {
  transform: rotatey(-5deg) rotatex(15deg) scale(1.25);
}


/*
  / / / / ANIMATIONS  
*/


/* @media only screen and (max-width: 295px) {
  .container {
    animation: disappear 3.3s normal forwards;
  }
} */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeback {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}

@keyframes color-change-2x {
  0% {
    background: #19dcea;
    /*#03001E*/
  }
  100% {
    background: #b22cff;
  }
}