/*
  DESIGN PAGE STYLES
  
  Author: Frank Juval Quinones
  URL: https://www.frankjuval.com
  Updated: June 2021
  Instagram: http://instagram.com/frankjuval
*/

img {
  width: 100%;
}

h1 {
  color: #777;
  margin: 0;
}