/*
	Site: frankjuval.com
	Author: Frank Juval Quinones

*/

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	font: 400 16px/1.2 "Andada", serif;
	/* background-color: #d7d7d7; */

	/* background: linear-gradient(318deg, rgba(144,255,249,1) 0%, #d7d7d7 40%, #d7d7d7 100%); */
	
	background: #d7d7d7 url("../images/corner-paint-01.png") no-repeat;
	background-position: right 0 bottom 0;
	background-size: 1100px;


	/* background: linear-gradient(340deg, #00C9FF 0%, #92FE9D 100%);

	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed; */
	/* align-content: space-around; */

	display: flex;
	align-items: center;
	justify-content: center;
}

h3 {
	font-family: "Merriweather", serif;
	font-weight: 900;
	font-size: 28px;
	margin: 0 0 .5em;
	padding: 0;
	line-height: 1;
	color: #620c5f;
	display: block;
	/* text-shadow: 0px 5px 18px rgba(0, 0, 0, 0.3); */
}


/*
///////////////// CONTENT 
*/
.container {
	background-color: #d7d7d7;
	max-width: 85%;
	margin: 0;
	padding: 2em;
	/* min-height: 45%; */

	display: flex;
	justify-content: center;

	/* background: linear-gradient(148deg, #e0e0e0 0%, #d7d7d7 40%, #d7d7d7 100%); */

	/* box-shadow: 3px 8px 38px rgba(0,0,0,.3);
	border-radius: 18px; */
}
.title {
	/* order: 1; */
	animation: fadein 4s;
}
.content-01 {
	/* order: 2; */
	/* max-width: 39.5%; */
	animation: fadein 5s;
}
.content-02 {
	/* order: 2; */
	animation: fadein 6s;
}
.title, .title p {
	text-align: right;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
	display: inline;
}
.content-01 p,
.content-02 p {
	color: #767575; /* #959595 */
	margin: 0 0 0 1em;
	padding-bottom: 1em;
}
.summary {
	color: #ab562f;
}
.title,
.content-01,
.content-02 {
	flex: 1;
}
p {
	line-height: 1.4;
	padding: 0;
	text-align: left;
	text-align: justify;

}


/*
///////////////// FADE IN ANIMATION 
*/
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}



/*
///////////////// SOCIAL LINKS 
Colors
LinkedIn: #007bb6
Twitter: #3CF
Instagram: #eb1377
*/
.social-links {
	margin-top: 1em;
}
li {
	padding: 0 0 0 1em;
}
.linkedin, .linkedin:visited {
	display: inline-block;
    color: #999;
	text-decoration: none;
	border-bottom: 2px solid #007bb6;
	transition: all ease-in-out .8s;
	line-height: 1.2;
}
.linkedin:hover {
	color: #007bb6;
	transition: all ease-in-out .4s;
}
.twitter, .twitter:visited {
	display: inline-block;
    color: #999;
	text-decoration: none;
	border-bottom: 2px solid #3CF;
	transition: all ease-in-out .8s;
}
.twitter:hover {
	color: #3CF;
	transition: all ease-in-out .4s;
}
.instagram, .instagram:visited {
	display: inline-block;
    color: #999;
	text-decoration: none;
	border-bottom: 2px solid #eb1377;
	transition: all ease-in-out .8s;
}
.instagram:hover {
	color: #eb1377;
	transition: all ease-in-out .4s;
}

/*
///////////////// RESPONSIVE
*/
@media only screen 
and (max-width: 320px) {

    body, html {
		/* background-size: 400px; */
		width: 100%;
		max-height: 100%;
	}
	.summary {
		display: none;
	}
	.container {
		flex-direction: column;
		margin: 1.5em;
		padding: 1.3em;
	}
	.title, .title p {
		text-align: left;
		/* max-height: 60%; */
	}
	.li {
		/* padding-bottom: .1em; */
		display: inline-block;
	}
	/* .content-01 {
		display: none;
	} */
	.content-02 {
		display: none;
	}
	.social-links {
		margin-bottom: 1.5em;
		padding-bottom: 0;
	}
	.content-01 p,
	.content-02 p {
		margin: 0;
	}
}

@media only screen 
and (min-width: 321px)
and (max-width: 480px) {
	body {
		background-size: 700px;
	}
	.container {
		width: 80%;
		flex-direction: column;
		padding: 1.5em;
		margin: 1em;
	}
	.summary {
		display: none;
	}
	.title, .title p {
		text-align: left;
	}
	.content-02 {
		display: none;
	}
	.social-links {
		margin-bottom: 1.5em;
	}
	.social-links li {
		padding: 0 1em 0 0;
	}
	.content-01 p,
	.content-02 p {
		margin: 0;
	}

}

@media only screen 
and (max-width: 700px) {
	.container {
		flex-direction: column;
		margin: 1.5em;
	}
	.title, .title p {
		text-align: left;
	}
	.content-01 p,
	.content-02 p {
		margin: 0;
	}
	.social-links {
		margin-bottom: 1.5em;
	}
	li {
		padding: 0 1em 0 0;
	}

}

@media only screen 
and (min-width: 768)
and (max-width: 1024px) {
	.container {
		min-height: 55%;
		max-width: 85%;
		flex-direction: row;
	}
	.social-links li {
		display: inline;
	}
	.content-01 {
		/* display: none; */
		margin: 0 auto;
	}
	.content-02 {
		/* display: none; */
		margin: 0 auto;
	}
}




